.commentsCont{
    display: flex;
    justify-content: center;
    /* border: solid blue; */
    font-family: Kanit;
}


.cont{
    width: 60%;
}

.comments{
    background-color: gainsboro;
    /* width: 50%; */
    border-radius: 10px;
    margin-bottom: 20px;
}